# Debian Server Cloud Image Remote
variable "debian_bullseye_server_remote" {
  description = "Debian 11 Bullseye cloud image (remote)"
  default     = "https://cloud.debian.org/images/cloud/bullseye/latest/debian-11-generic-amd64.qcow2"
}

# Ubuntu Server Cloud Image Remote
variable "ubuntu_focal_server_remote" {
  description = "Ubuntu 20.04 Focal cloud image (remote)"
  default     = "https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img"
}

# Ubuntu Server Cloud Image Local
variable "ubuntu_focal_server_local" {
  description = "Ubuntu 20.04 Focal cloud image (local)"
  default     = "focal-server-cloudimg-amd64.img"
}

# Ubuntu Desktop Base Images
variable "ubuntu_focal_desktop_local" {
  description = "Ubuntu 20.04 Focal desktop image (local)"
  default     = "ubuntu-focal-desktop.qcow2"
}